#!/usr/bin/make -f

%:
	dh ${@}

override_dh_auto_clean:
	$(MAKE) -C manpages

override_dh_auto_build:
	$(MAKE) -C manpages

override_dh_auto_install:
	dh_auto_install

	$(MAKE) DESTDIR=$(CURDIR)/debian/live-initramfs install

	mv debian/live-initramfs/usr/share/doc/live-initramfs/ChangeLog.casper debian/live-initramfs/usr/share/doc/live-initramfs/changelog.casper

	rm -f debian/live-initramfs/usr/share/doc/live-initramfs/COPYING
	rm -f debian/live-initramfs/usr/share/doc/live-initramfs/ChangeLog

override_dh_installchangelogs:
	dh_installchangelogs docs/ChangeLog

override_dh_installinit:
	dh_installinit --no-restart-on-upgrade --no-start -- start 89 0 6 .
